{:kotoba.app/id "cloud.itonami.isic-0891", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibsulefno4w3uwhop2ylxfewqk56mkvpltgtihwhf3wlky3tkgg6i", :kotoba.app/embed-url "ipfs://bafkreibsulefno4w3uwhop2ylxfewqk56mkvpltgtihwhf3wlky3tkgg6i", :published {:archive "https://kotobase.net/ipfs/bafkreibsulefno4w3uwhop2ylxfewqk56mkvpltgtihwhf3wlky3tkgg6i", :size 72544, :put-status 201, :get-status 200, :at "2026-08-15T13:51:58.271Z"}}
